/*
html {
	position: relative;
	min-height: 100%;
}

html,body{
  margin:0;
  padding:0;
}

a, a:visited, a:hover, a:active {
	color: inherit;
	color: black;
}
*/
.pageContentWrapper{
  /*margin-bottom:100px;*//* Height of footer*/
} 

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}

#back-button{
	position: absolute;
	top: 5%;
	right: 10%;
}

.about-p{
	margin-top: 5%;
}


.flex-container {
	display: flex;
	/*
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	*/
	
}

.title {
	display: inline-block;
}

.overlay-container {
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 10%;
	height: 10%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	opacity: 0;
	transition:1.2s ease;
	background-color:  #ffffff; /*#008CBA;*/
}

.overlay-container:hover .overlay {
	opacity: 0.875;
}

.img-text {
	color: black;
	font-size: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

#ad-text {
	font-size: 4em;
	text-align: center;
}

.badgeAd {
	width: 10%;
	height: 10%;
}

