$animation-time: 600ms;
$button-size: 2rem;

*,
*::before,
*::after {
	box-sizing: border-box;
}

.scroll-container {
	background-color: #dedede;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-container3 {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.scroll-down {
	position: relative;
	background-color: white;
	width: $button-size;
	height: $button-size;
	padding: 0.818rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	margin: auto;
	margin-bottom: -0.5em;

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform-origin: 50% 50%;
		transform: translate(-50%, -50%) scale(0);
		width: 105%;
		height: 105%;
		background-color: red; /*scaling up fill color*/
		border-radius: 50%;
		will-change: transform;
		transition: transform $animation-time;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform-origin: 50% 50%;
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(150,150,150); /* surrounding flash color */
		border-radius: 50%;
		will-change: transform;
		transition: transform $animation-time;
	}

	svg {
		max-width: 25.888px;
		min-width: 8px;
		width: 100%;
		height: auto;
		position: relative;
		z-index: 2;
		fill:rgb(0,0,0); /* initial fill */
		transition: fill $animation-time;
		transform: rotate(180deg);
	}

	&:hover {
		&::before {
			transform: translate(-50%, -50%) scale(1);
		}
		&:after {
			transform: translate(-50%, -50%) scale(1.2);
			animation: fade $animation-time;			
		}

		svg {
			fill: white; /*color after fill */
		}
	}
}

@keyframes fade {
	50% {
		opacity: 0.25;
	}
}